{% extends "institutional/base.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'institutional/css/vendor/revolution/settings.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'institutional/css/vendor/revolution/layers.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'institutional/css/vendor/revolution/navigation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <!--Main Slider-->
    <section class="main-slider main-slider-one">

        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>

                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb='{% static 'institutional/images/main-slider/image-1.jpg' %}' data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'institutional/images/main-slider/image-1.jpg' %}">


                    <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                    data-basealign="slide"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="shape"
                    data-height="auto"
                    data-whitespace="nowrap"
                    data-width="none"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['0','0','0','0']"
                    data-x="['right','right','right','right']"
                    data-y="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <!--Shape-->
                        <div class="shape-image"></div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-width="none"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['70','70','70','70']"
                    data-x="['right','right','right','right']"
                    data-y="['top','top','top','top']"
                    data-textalign="['right','right','right','right']"
                    data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="content-inner">
                            <h2>a modern<br> building<br> in london</h2>
                            <a href="#" class="view-projects">View Project</a>
                        </div>
                    </div>

                    </li>

                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb='{% static 'institutional/images/main-slider/image-2.jpg' %}' data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'institutional/images/main-slider/image-2.jpg' %}">

                    <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                    data-basealign="slide"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="shape"
                    data-height="auto"
                    data-whitespace="nowrap"
                    data-width="none"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['0','0','0','0']"
                    data-x="['right','right','right','right']"
                    data-y="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <!--Shape-->
                        <div class="shape-image"></div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-width="none"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['70','70','70','70']"
                    data-x="['right','right','right','right']"
                    data-y="['top','top','top','top']"
                    data-textalign="['right','right','right','right']"
                    data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="content-inner">
                            <h2>Skyskerper<br> building<br> in berlein</h2>
                            <a href="#" class="view-projects">View Project</a>
                        </div>
                    </div>

                    </li>

                </ul>

            </div>
        </div>
    </section>
    <!--End Main Slider-->

    <!--Studio Section-->
    <section class="studio-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">Working since 1990</div>
                            <h3>We are Modrox</h3>
                            <strong>Architecture Studio</strong>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur sed eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="styled-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation ullamco laboris nisi ut aliquip.</div>
                        <a href="#" class="view-projects">View our projects</a>
                    </div>
                </div>
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                    <div class="image">
                        <img src="{% static 'institutional/images/resource/studio.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Studio Section-->

    <!--Specilization Section-->
    <section class="specilazation-section" style="background-image:url({% static 'institutional/images/resource/pattern-1.png' %})">
        <div class="auto-container">
            <div class="sec-title-two light">
                <h2>Our Specilization</h2>
            </div>
            <div class="inner-content">
                <div class="big-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod</div>
                <div class="text">Temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat. Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur sed eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                <div class="services-outer">
                    <div class="row clearfix">

                        <!--Specilazation Block-->
                        <div class="specilazation-block col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="inner-most">
                                    <div class="icon-box">
                                        <span class="icon" style="display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; margin: 0 auto 30px;"><img src="{% static 'institutional/icons/architecture.svg' %}" alt="Arquitetura" style="width: 48px; height: 48px;"></span>
                                    </div>
                                    <h3><a href="#">Architecture</a></h3>
                                </div>
                            </div>
                        </div>

                        <!--Specilazation Block-->
                        <div class="specilazation-block col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="inner-most">
                                    <div class="icon-box">
                                        <span class="icon" style="display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; margin: 0 auto 30px;"><img src="{% static 'institutional/icons/decorating.svg' %}" alt="Decoração" style="width: 48px; height: 48px;"></span>
                                    </div>
                                    <h3><a href="#">Interior</a></h3>
                                </div>
                            </div>
                        </div>

                        <!--Specilazation Block-->
                        <div class="specilazation-block col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="inner-most">
                                    <div class="icon-box">
                                        <span class="icon" style="display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; margin: 0 auto 30px;"><img src="{% static 'institutional/icons/architect-with-helmet.svg' %}" alt="Engenharia" style="width: 48px; height: 48px;"></span>
                                    </div>
                                    <h3><a href="#">Planning</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Specilization Section-->

    <!--Projects Section-->
    <section class="project-section">
        <div class="auto-container">
            <div class="sec-title">
                <div class="title">latest work</div>
                <h3>Our Projects</h3>
            </div>
            <!--Project block-->
            <div class="project-block">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column pull-right col-md-5 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <h2><a href="#">Royal Complex</a></h2>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat  et dolore magna aliqua uat enim ad minim veniama.</div>
                                <a href="#" class="read-more">Read more</a>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column pull-left col-md-7 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="#"><img src="{% static 'institutional/images/resource/project-1.jpg' %}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project block Two-->
            <div class="project-block-two">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column pull-left col-md-5 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <h2><a href="#">Modern Complex</a></h2>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat  et dolore magna aliqua uat enim.</div>
                                <a href="#" class="read-more">Read more</a>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column pull-right col-md-7 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="#"><img src="{% static 'institutional/images/resource/project-2.jpg' %}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project block-->
            <div class="project-block">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column pull-right col-md-5 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <h2><a href="#">Mexwel Buiding</a></h2>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat  et dolore magna aliqua uat enim ad minim veniama.</div>
                                <a href="#" class="read-more">Read more</a>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column pull-left col-md-7 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="#"><img src="{% static 'institutional/images/resource/project-3.jpg' %}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project block Two-->
            <div class="project-block-two">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column pull-left col-md-5 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <h2><a href="#">Royal Villa</a></h2>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat  et dolore magna aliqua uat enim.</div>
                                <a href="#" class="read-more">Read more</a>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column pull-right col-md-7 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="#"><img src="{% static 'institutional/images/resource/project-2.jpg' %}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--End Projects Section-->

    <!--Testimonial Section-->
    <section class="testimonial-section" style="background-image:url({% static 'institutional/images/background/1.jpg' %})">
        <div class="auto-container">
            <div class="testimonial-outer">

                <!--Product Thumbs Carousel-->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-1.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-2.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-3.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-1.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-2.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{% static 'institutional/images/resource/author-3.jpg' %}" alt=""></figure>
                            <div class="quote-icon">
                                <span class="icon" style="display: inline-block; width: 24px; height: 24px; color: #bca374;"><svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/></svg></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Client Testimonial Carousel-->
                <div class="client-testimonial-carousel owl-carousel owl-theme">

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                    <!--Testimonial Block One-->
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="author-name">Michale Joe</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--End Testimonial Section-->

    <!--Clients Section-->
    <section class="clients-section">
        <div class="auto-container">
            <div class="sec-title-two">
                <h2>Our Clients</h2>
            </div>
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/1.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/2.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/3.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/4.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/5.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'institutional/images/clients/6.png' %}" alt=""></a></figure></li>
                </ul>
            </div>

        </div>
    </section>
    <!--End Clients Section-->

    <!--Form Section-->
    <section class="form-section" style="background-image:url({% static 'institutional/images/resource/pattern-2.png' %})">
        <div class="auto-container">
            <div class="sec-title-two style-two">
                <h2>Get In Touch</h2>
            </div>
            <div class="row clearfix">
                <!--Form Column-->
                <div class="form-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!-- Default Form -->
                        <div class="default-form">
                            <!--Default Form-->
                            <form method="post" action="blog.html">
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Enter your name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Enter your email" required>
                                </div>

                                <div class="form-group">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">submit now</button>
                                </div>
                            </form>

                        </div>
                        <!--End Default Form -->
                    </div>
                </div>
                <!--Info Column-->
                <div class="info-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <ul class="list-style-one">
                            <li>
                                <span class="icon" style="display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 5px; color: #bca374;">
                                    <svg viewBox="0 0 24 24" width="14" height="14" fill="currentColor">
                                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"/>
                                    </svg>
                                </span>
                                <strong>Escritório</strong> Av. das Nações Unidas, 12345 - Pinheiros <br> São Paulo - SP, 04578-000
                            </li>
                            <li>
                                <span class="icon" style="display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 5px; color: #bca374;">
                                    <svg viewBox="0 0 24 24" width="14" height="14" fill="currentColor">
                                        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                                    </svg>
                                </span>
                                <strong>E-mail</strong> contato@rlmarmores.com.br <br> suporte@rlmarmores.com.br
                            </li>
                            <li>
                                <span class="icon" style="display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 5px; color: #bca374;">
                                    <svg viewBox="0 0 24 24" width="14" height="14" fill="currentColor">
                                        <path d="M6.62 10.79a15.149 15.149 0 0 0 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                                    </svg>
                                </span>
                                <strong>Telefone</strong> (11) 4584-8478
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Form Section-->


{% endblock %}

{% block extra_js %}
    <!-- Revolution Slider Scripts -->
    <script src="{% static 'institutional/js/vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/revolution/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'institutional/js/vendor/main-slider-script.js' %}"></script>
{% endblock %}

